---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.api.name }}
  namespace: {{ include "braintrust.namespace" . }}
  {{- with (merge .Values.global.labels .Values.api.labels) }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.api.annotations.configmap }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  ORG_NAME: {{ .Values.global.orgName | quote }}

  {{- if eq .Values.cloud "azure" }}
  AZURE_STORAGE_ACCOUNT_NAME: {{ .Values.objectStorage.azure.storageAccountName | quote }}
  RESPONSE_BUCKET: {{ .Values.objectStorage.azure.responseContainer | quote }}
  CODE_BUNDLE_BUCKET: {{ .Values.objectStorage.azure.codeBundleContainer | quote }}
  BRAINSTORE_REALTIME_WAL_BUCKET: {{ .Values.objectStorage.azure.brainstoreContainer | quote }}
  BRAINSTORE_REALTIME_WAL_BUCKET_PREFIX: "brainstore/wal"
  {{- else if eq .Values.cloud "aws" }}
  RESPONSE_BUCKET: {{ .Values.objectStorage.aws.responseBucket | quote }}
  CODE_BUNDLE_BUCKET: {{ .Values.objectStorage.aws.codeBundleBucket | quote }}
  BRAINSTORE_REALTIME_WAL_BUCKET: {{ .Values.objectStorage.aws.brainstoreBucket | quote }}
  {{- else if eq .Values.cloud "google" }}
  RESPONSE_BUCKET: {{ .Values.objectStorage.google.apiBucket | quote }}
  RESPONSE_BUCKET_PREFIX: "response/"
  CODE_BUNDLE_BUCKET: {{ .Values.objectStorage.google.apiBucket | quote }}
  CODE_BUNDLE_BUCKET_PREFIX: "code-bundle/"
  BRAINSTORE_REALTIME_WAL_BUCKET: {{ .Values.objectStorage.google.brainstoreBucket | quote }}
  AWS_ENDPOINT_URL: "https://storage.googleapis.com"
  {{- end }}

  ALLOW_CODE_FUNCTION_EXECUTION: {{ .Values.api.allowCodeFunctionExecution | quote }}
  BRAINSTORE_ENABLED: "true"
  BRAINSTORE_DEFAULT: "force"
  BRAINSTORE_URL: "http://{{ .Values.brainstore.reader.service.name | default .Values.brainstore.reader.name }}.{{ .Values.global.namespace }}:{{ .Values.brainstore.reader.service.port }}"
  BRAINSTORE_WRITER_URL: "http://{{ .Values.brainstore.writer.service.name | default .Values.brainstore.writer.name }}.{{ .Values.global.namespace }}:{{ .Values.brainstore.writer.service.port }}"
  BRAINSTORE_ENABLE_HISTORICAL_FULL_BACKFILL: {{ .Values.api.enableHistoricalFullBackfill | quote }}
  BRAINSTORE_BACKFILL_NEW_OBJECTS: {{ .Values.api.backfillNewObjects | quote }}
  BRAINSTORE_BACKFILL_DISABLE_HISTORICAL: {{ .Values.api.backfillDisableHistorical | quote }}
  BRAINSTORE_BACKFILL_DISABLE_NONHISTORICAL: {{ .Values.api.backfillDisableNonhistorical | quote }}
  CONTROL_PLANE_TELEMETRY: {{ .Values.global.controlPlaneTelemetry | quote }}
  BRAINSTORE_INSERT_ROW_REFS: "true"
  # Logs v2 table. Requires pg_partman extension (default enabled in our TF modules)
  INSERT_LOGS2: "true"
  ALLOW_INVALID_BASE64: {{ .Values.api.allowInvalidBase64 | default "false" | quote }} 
  NODE_MEMORY_PERCENT: {{ .Values.api.nodeMemoryPercent | default "80" | quote }}
