apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.brainstore.name }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "apps.service-labels" (dict "context" . "service" .Values.brainstore) | nindent 4 }}
  {{- with .Values.brainstore.annotations.deployment }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  revisionHistoryLimit: {{ .Values.global.revisionHistoryLimit }}
  {{- if not .Values.brainstore.autoscaling.hpaEnabled }}
  replicas: {{ .Values.brainstore.replicas }}
  {{- end }}
  selector:
    matchLabels:
      app: {{ .Values.brainstore.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.brainstore.name }}
        {{- if eq .Values.cloud "azure" }}
        azure.workload.identity/use: "true"
        {{- end }}
        {{- if eq .Values.cloud "google" }}
        gke-workload-identity/use: "true"
        {{- end }}
        {{- include "apps.service-labels" (dict "context" . "service" .Values.brainstore) | nindent 8 }}
      annotations:
        {{- if eq .Values.cloud "google" }}
        iam.gke.io/gcp-service-account: {{ .Values.brainstore.serviceAccount.googleServiceAccount }}
        {{- end }}
        {{- with .Values.brainstore.annotations.pod }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ .Values.brainstore.serviceAccount.name }}
      containers:
        - name: brainstore
          image: "{{ .Values.brainstore.image.repository }}:{{ .Values.brainstore.image.tag }}"
          imagePullPolicy: {{ .Values.brainstore.image.pullPolicy }}
          command: ["brainstore"]
          args: ["web"]
          ports:
            - containerPort: {{ .Values.brainstore.service.port }}
          resources:
            {{- toYaml .Values.brainstore.resources | nindent 12 }}
          {{- if .Values.brainstore.livenessProbe.enabled }}
          livenessProbe:
            {{- toYaml (omit .Values.brainstore.livenessProbe "enabled") | nindent 12 }}
          {{- end }}
          {{- if .Values.brainstore.readinessProbe.enabled }}
          readinessProbe:
            {{- toYaml (omit .Values.brainstore.readinessProbe "enabled") | nindent 12 }}
          {{- end }}
          envFrom:
            - configMapRef:
                name: {{ .Values.brainstore.name }}
            {{- if .Values.brainstore.extraEnvFrom }}
            {{- toYaml .Values.brainstore.extraEnvFrom | nindent 12 }}
            {{- end }}
          env:
            - name: BRAINSTORE_METADATA_URI
              valueFrom:
                secretKeyRef:
                  name: braintrust-secrets
                  key: PG_URL
            - name: BRAINSTORE_WAL_URI
              valueFrom:
                secretKeyRef:
                  name: braintrust-secrets
                  key: PG_URL
            - name: BRAINSTORE_LOCKS_URI
              valueFrom:
                secretKeyRef:
                  name: braintrust-secrets
                  key: REDIS_URL
            - name: BRAINSTORE_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: braintrust-secrets
                  key: BRAINSTORE_LICENSE_KEY
            {{- if .Values.brainstore.extraEnvVars }}
            {{- toYaml .Values.brainstore.extraEnvVars | nindent 12 }}
            {{- end }}
          volumeMounts:
            - name: cache-volume
              mountPath: {{ .Values.brainstore.cacheDir }}
            {{- if .Values.azureKeyVaultCSI.enabled }}
            - name: secrets-store-inline
              mountPath: "/mnt/secrets-store"
              readOnly: true
            {{- end }}
      volumes:
        - name: cache-volume
          emptyDir:
            sizeLimit: {{ .Values.brainstore.objectStoreCacheFileSize | quote }}
        {{- if .Values.azureKeyVaultCSI.enabled }}
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ .Values.azureKeyVaultCSI.name }}
        {{- end }}
      {{- with .Values.brainstore.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.brainstore.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.brainstore.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.brainstore.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
