apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.brainstore.reader.name }}
  namespace: {{ include "braintrust.namespace" . }}
  {{- with (merge (deepCopy .Values.brainstore.reader.labels) .Values.global.labels) }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.brainstore.reader.annotations.deployment }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.brainstore.reader.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0
  selector:
    matchLabels:
      app: {{ .Values.brainstore.reader.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.brainstore.reader.name }}
        {{- if eq .Values.cloud "azure" }}
        azure.workload.identity/use: "true"
        {{- end }}
        {{- if eq .Values.cloud "google" }}
        gke-workload-identity/use: "true"
        {{- end }}
        {{- with (merge (deepCopy .Values.brainstore.reader.podLabels) .Values.brainstore.reader.labels .Values.global.labels) }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        {{- if eq .Values.cloud "google" }}
        iam.gke.io/gcp-service-account: {{ required "brainstore.serviceAccount.googleServiceAccount is required when cloud is google" .Values.brainstore.serviceAccount.googleServiceAccount }}
        {{- end }}
        {{- with .Values.brainstore.reader.annotations.pod }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ .Values.brainstore.serviceAccount.name }}
      {{- with .Values.brainstore.reader.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.brainstore.reader.nodeSelector (and (eq .Values.cloud "google") (eq .Values.google.mode "autopilot")) }}
      nodeSelector:
        {{- with .Values.brainstore.reader.nodeSelector }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if and (eq .Values.cloud "google") (eq .Values.google.mode "autopilot") }}
        cloud.google.com/machine-family: {{ .Values.google.autopilotMachineFamily | default "c4" }}
        cloud.google.com/gke-ephemeral-storage-local-ssd: "true"
        cloud.google.com/compute-class: "Performance"
        {{- end }}
      {{- end }}
      {{- with .Values.brainstore.reader.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.brainstore.reader.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: brainstore-reader
          image: "{{ .Values.brainstore.image.repository }}:{{ .Values.brainstore.image.tag }}"
          imagePullPolicy: {{ .Values.brainstore.image.pullPolicy }}
          {{- with .Values.brainstore.reader.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          command: ["brainstore"]
          args: ["web"]
          ports:
            - containerPort: {{ .Values.brainstore.reader.service.port }}
          resources:
            requests:
              cpu: {{ .Values.brainstore.reader.resources.requests.cpu | quote }}
              memory: {{ .Values.brainstore.reader.resources.requests.memory | quote }}
              {{- if and (eq .Values.cloud "google") (eq .Values.google.mode "autopilot") .Values.brainstore.reader.volume.size }}
              ephemeral-storage: {{ .Values.brainstore.reader.volume.size | quote }}
              {{- end }}
            limits:
              cpu: {{ .Values.brainstore.reader.resources.limits.cpu | quote }}
              memory: {{ .Values.brainstore.reader.resources.limits.memory | quote }}
          {{- with .Values.brainstore.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.brainstore.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          envFrom:
            - configMapRef:
                name: {{ .Values.brainstore.reader.name }}
          env:
            - name: BRAINSTORE_METADATA_URI
              valueFrom:
                secretKeyRef:
                  name: braintrust-secrets
                  key: PG_URL
            - name: BRAINSTORE_WAL_URI
              valueFrom:
                secretKeyRef:
                  name: braintrust-secrets
                  key: PG_URL
            - name: BRAINSTORE_REDIS_URI
              valueFrom:
                secretKeyRef:
                  name: braintrust-secrets
                  key: REDIS_URL
            {{- if eq .Values.brainstore.locksBackend "redis" }}
            - name: BRAINSTORE_LOCKS_URI
              valueFrom:
                secretKeyRef:
                  name: braintrust-secrets
                  key: REDIS_URL
            {{- end }}
            - name: BRAINSTORE_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: braintrust-secrets
                  key: BRAINSTORE_LICENSE_KEY
            - name: FUNCTION_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: braintrust-secrets
                  key: FUNCTION_SECRET_KEY
            {{- if .Values.brainstore.reader.extraEnvVars }}
            {{- toYaml .Values.brainstore.reader.extraEnvVars | nindent 12 }}
            {{- end }}
            {{- if .Values.customTLSCABundle }}
            - name: SSL_CERT_FILE
              value: "/etc/braintrust/tls/ca-bundle.pem"
            {{- end }}
          volumeMounts:
            - name: cache-volume
              mountPath: {{ .Values.brainstore.reader.cacheDir }}
            {{- if and (eq .Values.cloud "azure") .Values.azure.enableAzureKeyVaultDriver }}
            - name: secrets-store-inline
              mountPath: "/mnt/secrets-store"
              readOnly: true
            {{- end }}
            {{- if .Values.customTLSCABundle }}
            - name: tls-ca
              mountPath: "/etc/braintrust/tls"
              readOnly: true
            {{- end }}
      volumes:
        - name: cache-volume
          {{- if and (eq .Values.cloud "azure") .Values.azure.enableAzureContainerStorageDriver }}
          ephemeral:
            volumeClaimTemplate:
              spec:
                volumeMode: Filesystem
                accessModes: ["ReadWriteOnce"]
                storageClassName: local
                resources:
                  requests:
                    storage: {{ required "brainstore.reader.volume.size must be set" .Values.brainstore.reader.volume.size | quote }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- if and (eq .Values.cloud "azure") .Values.azure.enableAzureKeyVaultDriver }}
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ .Values.azure.keyVaultName }}
        {{- end }}
        {{- if .Values.customTLSCABundle }}
        - name: tls-ca
          projected:
            sources:
              - secret:
                  name: "braintrust-secrets"
                  items:
                    - key: "CA_PEM"
                      path: "ca-bundle.pem"
        {{- end }}
